.form-group{
    margin-bottom: 15px;
}
.form-control{
    height: 45px;
    border-radius: 3px;
}
.btn-primary{
    height: 47px;
    border-radius: 3px;
}
textarea.form-control{
    height: 200px;
}